html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: #d05c2e;
}

img {
  width: 40px;
}

h1 {
  font-size: 2rem;
  color: #fff;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

nav li {
  list-style-type: none;
}

a:link {
  font-size: 1.125rem;
  color: #fff;
  text-decoration: none;
  border-style: solid;
  border-color: #a63f38;
}
